.text-shadow-custom {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7); 
}

p.font-montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

p.font-inter {
    font-family: 'Inter', sans-serif !important;
}